# 忽略 Firebase 密钥文件
serviceAccountKey.json

gateway_task_cache.csv

# 运行日志与结果
logs/
experiment_results/

# Python 缓存与环境
__pycache__/
optimized/__pycache__/
optimized/client/__pycache__/
optimized/gateway/__pycache__/
optimized/server/__pycache__/

traditional/__pycache__/
traditional/client/__pycache__/
traditional/gateway/__pycache__/
traditional/server/__pycache__/

optimized/.env

.venv/
*.pyc

# IDE 配置
.vscode/
.idea/