# 忽略 Firebase 密钥文件
serviceAccountKey.json

gateway_task_cache.csv

# 运行日志与结果
logs/
experiment_results/

# Python 缓存与环境
__pycache__/

distributed/__pycache__/
distributed/client/__pycache__/
distributed/gateway/__pycache__/
distributed/server/__pycache__/

traditional/__pycache__/
traditional/client/__pycache__/
traditional/gateway/__pycache__/
traditional/server/__pycache__/

.venv/
*.pyc

# IDE 配置
.vscode/
.idea/